button {
  background-color: var(--button-bg, blue);
  color: var(--button-color, white);
  padding: var(--button-padding, 0.5em 1em);
  border-radius: var(--button-border-radius, 0.25em);
  display: flex;
  gap: 10px;

  &:disabled {
    background-color: aqua;
  }

  i {
    background-color: red;
    border: 3px solid black;
    width: 10px;
    height: 10px;
    display: block;
  }
}