@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

:host([disabled]) {
  .swc-amount__wrapper {
    .counter {
      cursor: not-allowed;
    }
  }
}

.swc-amount__wrapper {
  display: flex;
  flex-direction: row;

  .counter {
    background-color: $gray-90;
    border-radius: $border-radius;
    padding: calc(1em - 3px) 1.7em;
    text-align: center;
    margin: 3px 0;
  }
}